<div
  id="container"
  class="game"
  [class]="'game--' + currentGame"
  [class.playing]="playing"
  [style.--m]="game.sizeX"
  [style.--n]="game.sizeY"
>
  <aside id="left-side">
    <div class="controls">
      <select (change)="onGameChange($event)" [(ngModel)]="currentGame">
        <option
          *ngFor="let game of Games | keyvalue : titleAscOrder"
          [value]="game.key"
        >
          {{ game.value.title }}
        </option>
      </select>
      <button (click)="onReset()">⏮ Reset</button>

      <button (click)="doStep()" [disabled]="playing">⏯ Step</button>
      <button (click)="onTogglePlay()">
        {{ playing ? "⏸ Pause" : "⏵ Play" }}
      </button>
      <input
        type="range"
        min="-5"
        max="5"
        [(ngModel)]="speed"
        class="slider"
        list="step-list"
      />
      <datalist id="step-list">
        <option>-5</option>
        <option>0</option>
        <option>5</option>
      </datalist>
    </div>
    <div id="pallet">
      <div class="set" *ngFor="let set of game.pallet; trackBy: trackByMethod">
        <button
          *ngFor="let type of set; trackBy: trackByMethod"
          [title]="type.state"
          class="cell"
          [class]="'cell--' + type.state"
          [class.active]="currentType.state === type.state"
          (click)="currentType = type"
        >
          <span>{{ type.token }}</span>
        </button>
      </div>
    </div>
  </aside>
  <div id="content">
    <div id="stats">
      <span *ngFor="let stat of game.stats | keyvalue">
        {{ stat.key }}: {{ stat.value }}
      </span>
    </div>
    <table
      #board
      id="board"
      oncontextmenu="return false;"
      (mouseleave)="onMouseLeave()"
      (touchstart)="onTouch($event)"
      (touchmove)="onTouch($event)"
      (touchend)="onMouseLeave()"
      (touchcancel)="onMouseLeave()"
    >
      <tr *ngFor="let row of game.grid; let y = index; trackBy: trackByMethod">
        <td
          *ngFor="
            let cell of game.grid[y];
            let x = index;
            trackBy: trackByMethod
          "
          (mousedown)="onMouseEnter($event, x, y)"
          (mouseenter)="onMouseEnter($event, x, y)"
          (click)="onClick($event, x, y)"
          (mouseup)="onMouseLeave()"
          class="cell"
          [class]="'cell--' + cell.state"
        >
          <span>{{ cell.token }}</span>
        </td>
      </tr>
    </table>
  </div>
  <aside id="right-side">
    <div class="controls">
      <button (click)="onRandom()">Random</button>
      <button (click)="onClear()">Clear</button>
      <div *ngFor="let pattern of gameItem.patterns; trackBy: trackByMethod">
        <ng-container
          *ngTemplateOutlet="miniBoard; context: { pattern }"
        ></ng-container>
      </div>
      <button (click)="onAddPattern()">+ Save Pattern</button>
    </div>
  </aside>
</div>

<ng-template #miniBoard let-pattern="pattern">
  <table class="pattern-board" (click)="onUsePattern(pattern)">
    <tr *ngFor="let row of pattern; let y = index; trackBy: trackByMethod">
      <td
        *ngFor="let cell of pattern[y]; let x = index; trackBy: trackByMethod"
        class="cell"
        [class]="'cell--' + cell.state"
      >
        <span>{{ cell.token }}</span>
      </td>
    </tr>
  </table>
</ng-template>
