#container {
  --n: 19;
  --m: 19;

  --board-width: calc(100vw - 540px);
  --cell-size: calc(var(--board-width) / var(--m));
  --board-height: calc(var(--n) * var(--cell-size));
  --board-grid-color: #bdbdbd;

  --background-color: #ddd;
  --control-background-color: #fff;
  --control-border-color: #bdbdbd;;

  width: 100vw;
  height: 100vh;
  position: fixed;
  background: var(--background-color);

  overflow-y: auto;
  overflow-x: clip;

  aside {
    width: 230px;
    position: absolute;
    top: 0;
    padding: 10px;

    &#left-side {
      left: 0;
    }

    &#right-side {
      right: 0;
    }
  }

  #fpsStats {
    display: none;

    &.show {
      display: block;
    }

    > div {
      right: 20px !important;
      top: unset !important;
      left: unset !important;
      bottom: 20px !important;
    }
  }

  #content {
    width: var(--board-width);
    padding: 20px;
    margin: 0 auto;
  }

  #board,
  .pattern-board {
    height: var(--board-height);
    width: var(--board-width);
    aspect-ratio: 1 / 1;
    margin: 10px auto;
    table-layout: fixed;

    border-spacing: 0;
    border-collapse: collapse;
    user-select: none;
    border: 1px solid gray;

    .cell {
      height: var(--cell-size);
      width: var(--cell-size);
      border: 1px solid var(--board-grid-color);

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      line-height: 1em;

      padding: 0;
      text-align: center;
      box-sizing: border-box;
      aspect-ratio: 1 / 1;
      font-size: calc(0.8 * var(--cell-size));
    }
  }

  #board {
    .cell {
      cursor: pointer;

      &:hover {
        outline: 5px solid rgba(red, 0.8);
        outline-offset: 2px;
        border-radius: 1px;
      }
    }
  }

  .pattern-container {
    position: relative;
    width: 100px;
    margin: 0 auto;

    [mat-mini-fab] {
      position: absolute;
      top: -10px;
      right: -10px;
      width: 26px;
      height: 26px;
    }
  }

  .pattern-board {
    cursor: pointer;
    --board-width: 100px;
    --cell-size: calc(var(--board-width) / var(--m));
    --board-height: calc(var(--n) * var(--cell-size));

    .cell {
      border: none;
      // font-size: 0;
    }
  }

  .controls {
    border: 1px solid var(--control-border-color);
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 10px;
    background: var(--control-background-color, #fff);
    border-radius: 5px;

    .control-group {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    .mat-mdc-slider {
      margin: 0 auto;
      display: block;
    }

    [mat-button] {
      width: 100%;
      margin: 5px 0;
    }

    button {
      &.active {
        border: 2px solid black;
      }
    }
  }

  #pallet {
    border: 1px solid var(--control-border-color);
    width: 200px;
    padding: 10px;
    margin: 10px;
    background: var(--control-background-color, #fff);

    .set {
      clear: both;
      margin: 10px auto;
    }

    button {
      height: 30px;
      width: 30px;
      margin: 0 5px;
      vertical-align: top;
      text-align: center;
      box-sizing: border-box;

      &.active {
        outline: 2px solid blue;
        outline-offset: 1px;
      }
    }
  }

  #stats {
    border: 1px solid var(--control-border-color);
    width: 100%;
    margin: 0 0 10px 0;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    background: var(--control-background-color, #fff);

    > span {
      padding: 0 10px;
    }
  }

  &.playing {
    .cell {
      transition: background 0.2s ease-in-out;
    }
  }

  .cell {
    color: transparent;
    background-color: white;

    &--active {
      background-color: black;
    }

    &--empty {
      background-color: white;
    }
  }

  &.game--ant {
    .cell {
      &--■ {
        background-color: black;
      }

      &--□ {
        background-color: white;
      }

      &--■▲,
      &--■►,
      &--■▼,
      &--■◄ {
        color: white;
        background-color: black;
      }

      &--□▲,
      &--□►,
      &--□▼,
      &--□◄ {
        color: black;
        background-color: white;
      }
    }
  }

  &.game--wireworld {
    .cell {
      transition: unset;

      &.cell--empty {
        background-color: black !important;
      }

      &.cell--electron {
        color: yellow;
        background-color: blue;
      }

      &.cell--tail {
        background-color: red;
      }

      &.cell--active {
        background-color: yellow !important;
      }
    }
  }

  &.game--rule30,
  &.game--rule110 {
    #board {
      .cell {
        line-height: 0;
      }
    }
  }

  &.game--snow {
    .cell {
      &--drop {
        background-color: white;
      }

      &--active {
        background-color: green !important;
      }

      &--empty {
        background-color: black;
      }
    }
  }
}
