<div id="container">
  <aside>
    <div id="controls">
      <select (change)="onGameChange($event)" [(ngModel)]="currentGame">
        <option *ngFor="let game of Games | keyvalue" [value]="game.key">
          {{ game.value.title }}
        </option>
      </select>
      <button (click)="onReset()">Reset</button>
      <!-- <button (click)="onRandom()">Random</button> -->

      <button (click)="doStep()" [disabled]="playing">Step</button>
      <button (click)="onTogglePlay()">{{ playing ? "Pause" : "Play" }}</button>
      <input type="range" min="-5" max="5" [(ngModel)]="speed" class="slider" />
    </div>
    <div id="pallet">
      <button
        *ngFor="let type of game.pallet"
        [title]="type.state"
        class="state"
        [class]="'state--' + type.state"
        [class.active]="currentType.state === type.state"
        (click)="currentType = type"
      >
        <span>{{ type.token }}</span>
      </button>
    </div>
  </aside>
  <div id="content">
    <div id="stats">
      <span *ngFor="let stat of game.stats | keyvalue">
        {{ stat.key }}: {{ stat.value }}
      </span>
    </div>
    <table class="game" [class]="'game--' + currentGame">
      <tr *ngFor="let row of game.grid; let i = index">
        <td
          *ngFor="let cell of game.grid[i]; let j = index"
          (mousedown)="onMouseEnter($event, i, j)"
          (mouseenter)="onMouseEnter($event, i, j)"
          class="state"
          [class]="'state--' + cell.state"
        >
          <span>{{ cell.token }}</span>
        </td>
      </tr>
    </table>
  </div>
</div>
