#container {
  --n: 19;
  --m: 19;

  --board-width: calc(100vw - 540px);
  --cell-size: calc(var(--board-width) / var(--m));
  --board-height: calc(var(--n) * var(--cell-size));

  width: 100vw;
  height: 100vh;
  position: fixed;
  background: #ddd;

  #left-side {
    height: 100%;
    width: 230px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
  }

  #content {
    width: var(--board-width);
    padding: 20px;
    margin: 0 auto;
  }

  #right-side {
    height: 100%;
    width: 230px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
  }

  #board,
  .pattern-board {
    height: var(--board-height);
    width: var(--board-width);
    aspect-ratio: 1 / 1;
    margin: 10px auto;
    table-layout: fixed;

    border-spacing: 0;
    border-collapse: collapse;
    user-select: none;
    border: 1px solid gray;

    .cell {
      height: var(--cell-size);
      width: var(--cell-size);
      border: 1px solid gray;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;

      line-height: 1em;

      padding: 0;
      text-align: center;
      box-sizing: border-box;
      aspect-ratio: 1 / 1;
      font-size: calc(0.8 * var(--cell-size));
    }
  }

  #board {
    .cell {
      &:hover {
        outline: 2px solid blue;
        outline-offset: 2px;
        cursor: pointer;
      }
    }
  }

  .pattern-board {
    cursor: pointer;
    --board-width: 100px;
    --cell-size: calc(var(--board-width) / var(--m));
    --board-height: calc(var(--n) * var(--cell-size));

    .cell {
      border: none;
      // font-size: 0;
    }
  }

  .controls {
    border: 1px solid red;
    width: 200px;
    height: auto;
    padding: 10px;
    margin: 10px;
    background: white;

    select {
      width: 100%;
    }

    input[type="range"] {
      width: 100%;
    }

    button {
      width: 100%;
      height: 30px;
      margin: 5px 0;

      &.active {
        border: 2px solid black;
      }
    }
  }

  #pallet {
    border: 1px solid red;
    width: 200px;
    padding: 10px;
    margin: 10px;

    button {
      height: 30px;
      width: 30px;
      margin: 0 5px;
      vertical-align: top;
      text-align: center;
      box-sizing: border-box;

      &.active {
        outline: 2px solid black;
        outline-offset: 1px;
      }
    }
  }

  #stats {
    border: 1px solid red;
    width: 100%;
    margin: 0 0 10px 0;
    padding: 5px;
    border-radius: 5px;
    box-sizing: border-box;

    > span {
      padding: 0 10px;
    }
  }

  .cell {
    transition: background 0.2s ease-in-out;
    color: transparent;
    background-color: white;

    &--■,
    &--o,
    &--1 {
      background-color: black;
    }

    &--b,
    &--□,
    &--0 {
      background-color: white;
    }

    &.cell--_ {
      background-color: lightgray;
    }
  }

  &.game--ant,
  &.game--torusAnt {
    .cell {
      &--■▲,
      &--■►,
      &--■▼,
      &--■◄ {
        color: white;
        background-color: black;
      }

      &--□▲,
      &--□►,
      &--□▼,
      &--□◄ {
        color: black;
        background-color: white;
      }       
    }

  }

  &.game--wireworld {
    .cell {
      transition: unset;

      &.cell--empty {
        background-color: black;
      }
  
      &.cell--head {
        color: yellow;
        background-color: blue;
      }
  
      &.cell--tail {
        background-color: red;
      }
  
      &.cell--conductor {
        background-color: yellow;
      }
    }
  }

  &.game--rule30,
  &.game--rule110 {
    #board {
      aspect-ratio: 43/22;

      .cell {
        line-height: 0;
      }
    }
  }

  &.game--historyLife {
    &.playing {
      .cell {
        &--■ {
          transition: background 0.2s ease-in-out;
        }
    
        &--_ {
          transition: background 1s ease-in-out;
        }
      }
    }
  }
}
